.header-title {
  font-family: "Alfa Slab One", cursive;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  margin: 25px 0;
  margin-left: -323px;
}

#contained-modal-title-vcenter {
  font-family: "Alfa Slab One", cursive;
}
.search-input {
  margin: 20px;
}
.stars-filter {
  margin: 20px;
  font-size: 25px;
}
.stars-add {
  margin: 20px;
}
.add-movie {
  margin-top: 20px;
  margin-left: 20px;
}
body {
  background-color: #e8e8e8;
}
.movieDetails {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
